@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';


body {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.main-card {
  background-color: #22272d;
  padding: 10%;
  width: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.custom-modal-size {
  width: 1900 !important;
  max-width: 2000px !important;
  height: 1230px !important;
}

.custom-name {
  position: relative;
  font-size: 50px !important;
  font-weight: bold;
  color: white,
}

.custom-height {
  height: 62% !important;
}