@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';


body {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.main-card {
  background-color: #22272d;
  padding: 10%;
  width: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.custom-modal-size {
  width: 1900 !important;
  max-width: 2000px !important;
  height: 1230px !important;
}

@font-face {
  font-family: "GoogleSansBold";
  src: url('/public/GoogleSans-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "GoogleSansReg";
  src: url('/public/GoogleSans-Regular.otf') format('truetype');
}


.custom-name {
  position: relative;
  font-size: 25px !important;
  font-weight: bold;
  color: white;
  /* font-family: 'GoogleSansBold' !important; */
}

.custom-height {
  top: 120px;
  height: 62% !important;
}

.custom-level {
  position: relative;
  font-size: 13px !important;
  /* font-family: 'GoogleSansReg'!important; */
}

.custome-div {
  top: 300px;
  padding: 20px;
  height: 62%;
  width: 436px !important;
  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .custom-height-qr {
  height: 45% !important;
} */

/* .downloading {
  display: block !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
  transform: none !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
} */

/* .qr-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
} */